[submodule "third_party/zephyr_bluetooth-2.7.5/zephyr_bluetooth"]
	path = third_party/zephyr_bluetooth-2.7.5/zephyr_bluetooth
	url = https://github.com/sakumisu/zephyr_bluetooth.git
[submodule "third_party/nimble-1.6.0/nimble"]
	path = third_party/nimble-1.6.0/nimble
	url = https://github.com/sakumisu/mynewt-nimble.git
