.vscode
**/Drivers/**
**/MDK-ARM/DebugConfig/**
**/MDK-ARM/RTE/**
**/MDK-ARM/stm32f103c8t6/**
**/MDK-ARM/stm32f429igt6/**
**/MDK-ARM/stm32h743vbt6/**
**/MDK-ARM/stm32h743xih6/**
**/obj/**
**/RET/**
**/Listings/**
**/Objects/**
*.map
*.lst
*.uvguix.*
*.scvd
*.usb.tmp